.margin-top {
    margin-top: 30px;
}

.medium-margin-top {
    margin-top: 60px;
}

.large-margin-top {
    margin-top: 90px;
}

.valign {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}
.valign-small {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
}